*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
main {
    max-width: 100%;
    width: 500px;
    margin: auto;
    margin-top: 50px;
    border: 1px solid rgb(181, 178, 178);
    padding: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: red; color: white;outline: none; border: none; border-radius: 5px; margin-top: 10px;
}
